<div class="flex container mx-auto p-4 flex flex-col md:flex-row">
  <div class="flex-grow md:w-2/3  items-center">
    <h1 class="text-4xl font-bold mb-4">Big Bold Title</h1>
    <div class="flex mb-4">
      <span class="tag ">Tag 1</span>
      <div><app-rating [rate]="3.5"></app-rating></div>
    </div>
    <div class="flex justify-between">
      <div class="flex-col flex ">
        <span class="text-sm mr-4">Last Updates</span><span
        class="text-sm mr-4 font-medium">Span 1</span></div>
      <div class="flex-col flex">
        <span class="text-sm  mr-4">Level</span><span
        class="text-sm mr-4 font-medium">Span 1</span></div>
      <div class="flex-col flex">
        <span class="text-sm  mr-4">Students</span><span
        class="text-sm mr-4 font-medium">Span 1</span></div>
      <div class="flex-col flex">
        <span class="text-sm mr-4">Language</span><span
        class="text-sm mr-4 font-medium">Span 1</span></div>
      <div>
        <button class="text-black  button-color px-4 py-2 mr-4 font-medium">WishList</button>
        <button class=" text-black button-color px-4 py-2 font-medium">Share</button>
      </div>

    </div>
    <div class="bg-white shadow-md rounded-md overflow-hidden my-4">
      <img class="w-full h-64 object-cover" src="https://placekitten.com/800/400" alt="Sample Image">
    </div>
    <div class="container mx-auto">
      <div class="flex flex-col gap-4">
        <mat-card>
          <mat-card-header>
            <mat-card-title>OverView</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Python is a user-friendly programming language known for its simplicity and readability. Created in the
              late 1980s, it emphasizes clean code and reduced syntax, making it great for beginners and experienced
              developers. Python's versatility shines in applications like web development, data science, and machine
              learning, thanks to its vast library and active community support.
              <br><br>
              Its adaptability and ease of use make
              it a popular choice for various projects, allowing developers to focus on problem-solving rather than
              complex code structures.
              <br><br>
              With frameworks like Django and Flask, Python excels in building scalable web
              applications, while libraries such as NumPy and TensorFlow showcase its dominance in data science and
              artificial intelligence. Open-source and continuously evolving, Python remains a powerful and relevant
              language in the ever-changing world of programming.</p>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-header>
            <mat-card-title> what you will learn</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>✔ Versatility and Readability</p>
            <p>✔ Wide Applicability</p>
            <p>✔ Rich Ecosystem and Community</p>
            <p>✔ Industry Relevance and Job Opportunities</p>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-header>
            <mat-card-title>Requirement</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>✔ Text Editor or IDE (Integrated Development Environment)</p>
            <p>✔ Basic Understanding of Programming Concepts</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="flex-grow-2 md:w-1/3 flex flex-col items-center">
    <mat-card class="max-w-400px ">
      <div class="card-section">
        <div class="price-section">
          <span>$19.99</span>
          <div class="flex gap-2"><span class="text-sm font-medium">$19.99</span> <span
            class="tag off-button">Tag 1</span></div>
        </div>

        <div >
          <button mat-raised-button  class="w-full mt-8 th add-course-btn my-1">Add to Courses</button>
          <button mat-raised-button class="w-full mt-8 buy-btn">Buy Now</button>
        </div>
      </div>

      <div class="card-section">
        <h2>This Course Includes</h2>
        <ul>
          <li>
            <mat-icon>check</mat-icon>
            2 hours on demand video
          </li>
          <li>
            <mat-icon>check</mat-icon>
            1 article
          </li>
          <li>
            <mat-icon>check</mat-icon>
            50 download resources
          </li>
          <li>
            <mat-icon>check</mat-icon>
            Full Lifetime access
          </li>
          <li>
            <mat-icon>check</mat-icon>
            Access on mobile and TV
          </li>
          <li>
            <mat-icon>person</mat-icon>
           Certificate of completion
          </li>

        </ul>
      </div>

      <div class="card-section">
        <h2>About the Instructor</h2>
        <div class="flex items-center">
          <div class="profile-avatar">
            <mat-icon>account_circle</mat-icon>
          </div>
          <div class="flex-grow-1">
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
