<div class="row">
  <div class="col-md-8">
    <h1 class="title">{{course.title}}</h1>
    <div class="d-flex align-items-center mb-4">
      <div class="d-flex align-items-center gap-2 flex-wrap me-4">
        <div *ngFor="let tag of course.tags" class="tag">{{tag.name}}</div>
      </div>
      <div class="d-flex align-items-center gap-2 ms-5">
        <div>{{course.rating}}</div>
        <app-rating [rate]=course.rating></app-rating>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center gap-5">
        <div class="short-info">
          <div class="label">Last Updates</div>
          <div class="value">Aug 2021</div></div>
        <div class="short-info">
          <div class="label">Level</div>
          <div class="value">{{course.level}}</div></div>
        <div class="short-info">
          <div class="label">Students</div>
          <div class="value">{{course.num_students}}</div></div>
        <div class="short-info">
          <div class="label">Language</div>
          <div class="value">English</div></div>
      </div>

      <div class="d-flex gap-2">
        <app-wish-list type="normal"></app-wish-list>
        <button mat-raised-button class="">
          Share
        </button>
      </div>
    </div>


    <div class="my-4">
      <img class="course-image" src="assets/courses/{{course.id % 2}}.jpg" alt="Sample Image">
    </div>
    <div class="d-flex flex-column gap-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Overview</h5>
          <p>{{course.description}}</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">What you will learn</h5>
          <p><span class="me-1">✔</span> Versatility and Readability</p>
          <p><span class="me-1">✔</span> Wide Applicability</p>
          <p><span class="me-1">✔</span> Rich Ecosystem and Community</p>
          <p><span class="me-1">✔</span> Industry Relevance and Job Opportunities</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Requirement</h5>
          <p><span class="me-1">✔</span> Text Editor or IDE (Integrated Development Environment)</p>
          <p><span class="me-1">✔</span> Basic Understanding of Programming Concepts</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">

    <div class="card">
      <div class="card-body">
        <div class="section">
          <div class="real">
            <div class="price">RP {{course.price | currency}}</div>
          </div>
          <div class="fake">
            <div class="price">RP {{course.price * 1.2 | currency}}</div>
            <div class="discount">18% off</div>
          </div>

          <div class="d-flex flex-column gap-2 mt-4">
            <button mat-raised-button class="edit-course-button" (click)="editCourse()">Edit Courses</button>
            <button mat-raised-button class="buy-course-button">Buy Now</button>
          </div>
        </div>

        <div class="hr"></div>

        <div class="section">
          <h6 class="fw-bolder">This Course Includes</h6>
          <ul class="course-info-list">
            <li>
              <mat-icon>check</mat-icon>
              {{course.duration}} on demand video
            </li>
            <li>
              <mat-icon>check</mat-icon>
              1 article
            </li>
            <li>
              <mat-icon>check</mat-icon>
              50 download resources
            </li>
            <li>
              <mat-icon>check</mat-icon>
              Full Lifetime access
            </li>
            <li>
              <mat-icon>check</mat-icon>
              Access on mobile and TV
            </li>
            <li>
              <mat-icon>person</mat-icon>
              Certificate of completion
            </li>
          </ul>
        </div>

        <div class="hr"></div>

        <div class="section">
          <h6 class="fw-bolder">About the Instructor</h6>

          <div class="instructor">
            <div class="profile">
              <img src="assets/courses/{{course.id % 2}}.jpg" alt="">
              <div class="bio">
                <div class="name">{{course.instructor.name}}</div>
                <div class="job">{{course.instructor.email}}</div>
              </div>
            </div>

            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center gap-2">
                <small>5.0</small>
                <app-rating [rate]="5"></app-rating>
              </div>
              <div class="d-flex align-items-center gap-1">
                <mat-icon>check</mat-icon>
                <small>12 Courses</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
