<mat-card>
  <div class="position-relative">
    <div class="wish-list">
      <app-wish-list></app-wish-list>
    </div>
    <img mat-card-image class="course-image"
         src="assets/courses/{{course.id % 5}}.jpg">
    <div class="shadow"></div>
    <div class="instructor">
      <img src="assets/people/{{course.id % 5}}.jpg">
      <div class="text-white">{{course.instructor.name}}</div>
    </div>
  </div>
  <mat-card-content>
    <h6 class="course-name" [routerLink]="['/course/detail', course.id ]">{{course.title}}</h6>
    <div class="d-flex align-items-center gap-5">
      <div class="stat">
        <div class="icon">
          <mat-icon>card_travel</mat-icon>
        </div>
        <span class="ms-2">{{course.level}}</span></div>
      <div class="stat">
        <div class="icon">
          <mat-icon>people_outline</mat-icon>
        </div>
        <span class="ms-2">{{course.num_students}}</span>
      </div>
      <div class="stat">
        <div class="icon yellow">
          <mat-icon>star</mat-icon>
        </div>
        <span class="ms-2">{{course.rating}}</span></div>
    </div>
  </mat-card-content>
  <div class="hr"></div>
  <mat-card-actions>
    <div class="d-flex align-items-center justify-content-between px-2 mr-20">
      <span class="price">${{course.price| currency}}</span>
      <button class="edit-course-button" mat-button (click)="editCourse()">
        <mat-icon>edit</mat-icon>
        Edit Course
      </button>
    </div>

  </mat-card-actions>
</mat-card>
