<div mat-dialog-title class="list-title">
  {{ data.action === "edit" ? "Edit Course" : "Add New Course" }}
</div>

<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="d-flex flex-column"
>
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput type="text" formControlName="title"/>
    <mat-error *ngIf="fieldIsNotValid('title', 'required')">
      <div *ngTemplateOutlet="fieldIsRequired"></div>
    </mat-error>
  </mat-form-field>

  <div formGroupName="instructor" class="d-flex gap-4 justify-content-between">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Instructor Name</mat-label>
      <input matInput type="text" formControlName="name"/>
      <mat-error *ngIf="fieldIsNotValid('name', 'required')">
        <div *ngTemplateOutlet="fieldIsRequired"></div>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Instructor Email</mat-label>
      <input matInput type="text" formControlName="email"/>
      <mat-error *ngIf="fieldIsNotValid('email', 'required')">
        <div *ngTemplateOutlet="fieldIsRequired"></div>
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Level</mat-label>
    <mat-select formControlName="level">
      <mat-option
        *ngFor="let item of courseLevels"
        [value]="item"
      >
        {{ item }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="fieldIsNotValid('level', 'required')">
      <div *ngTemplateOutlet="fieldIsRequired"></div>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Duration</mat-label>
    <input matInput formControlName="duration"/>
    <mat-error *ngIf="fieldIsNotValid('duration', 'required')">
      <div *ngTemplateOutlet="fieldIsRequired"></div>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Price</mat-label>
    <input matInput type="number" formControlName="price"/>
    <mat-error *ngIf="fieldIsNotValid('price', 'required')">
      <div *ngTemplateOutlet="fieldIsRequired"></div>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Tags</mat-label>
    <mat-chip-list #chipGrid aria-label="Enter tag">
      <ng-container *ngFor="let tag of courseTags">
        <mat-chip (removed)="removeTag(tag)">
          {{tag}}
          <button matChipRemove [attr.aria-label]="'remove ' + tag">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </ng-container>
    </mat-chip-list>
    <input placeholder="New Tag..."
           class="mt-2"
           [matChipInputFor]="chipGrid"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           (matChipInputTokenEnd)="addTag($event)"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      cols="20"
      rows="5"
      formControlName="description"
    ></textarea>
  </mat-form-field>

  <mat-dialog-actions class="ms-auto">
    <button mat-button [mat-dialog-close]="false" class="cancel-btn">
      cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!form.valid"
    >
      {{ data.action === "edit" ? "Update" : "Add" }}
    </button>
  </mat-dialog-actions>
</form>


<ng-template #fieldIsRequired>
  Field is required
</ng-template>
