<div class="rating-box">
  <div class="rating" [style.width]="(rate * 20) + '%'">
    <div class="star yellow">
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
<!--      <i class="fa-solid fa-star"></i>-->
    </div>
  </div>
  <div class="star grey">
    <mat-icon>star_border</mat-icon>
    <mat-icon>star_border</mat-icon>
    <mat-icon>star_border</mat-icon>
    <mat-icon>star_border</mat-icon>
    <mat-icon>star_border</mat-icon>
<!--    <i class="fa-solid fa-star"></i>-->
  </div>
</div>
